---
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-12">Hey!</h1>
		<p class="mb-4">
			I am Kasturi Kandalam, a Pre-Doc at Indian Statistical Institute - Delhi (ISI-D). I study how data, policy and people interact— sometimes beautifully, sometimes not. I build large administrative and spatial datasets and analyse them to understand how the world works.
		</p>
		<p class="mb-4">
			If you want to talk to me about anything data, econ, constructing counterfactuals related - mail me - <a href="mailto:kasturiveemohan@gmail.com">kasturiveemohan@gmail.com</a>
		</p>
		<p class="mb-4">
			p.s. I have a soft spot for messy data.
		</p>
		<SocialList />
	</section>
</PageLayout>