---
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Research" }}>
	<div class="w-full">
		<h1 class="title mb-12 text-5xl">Research</h1>
		
		<!-- Academic Writing -->
		<section class="mb-12">
			<h2 class="title mb-6 text-2xl border-b border-gray-300 pb-2">Academic Writing</h2>
			<ul class="space-y-4 list-disc pl-5">
				<li>
					<p>
						Kandalam, K, Sivramkrishna, S, Gune, S & Moharir, A. (2019). 
						<a href="http://rebs.feaa.uaic.ro/articles/pdfs/272.pdf" class="text-accent hover:underline" target="_blank">
							"Shadow banking in India: Nature, Trends, Concerns, and Policy interventions"
						</a>. 
						<em>Review of Economic and Business Studies (REBS)</em>, pp 29-46.
					</p>
				</li>
			</ul>
		</section>

		<!-- Other Writing -->
		<section class="mb-12">
			<h2 class="title mb-6 text-2xl border-b border-gray-300 pb-2">Other Writing</h2>
			<ul class="space-y-4 list-disc pl-5">
				<li>
					<p>
						Kandalam, K & Nakum, K. (2023). 
						<a href="https://ruralindiaonline.org/te/article/there-are-no-toilets-in-this-colony" class="text-accent hover:underline" target="_blank">
							"There are no toilets in this colony"
						</a>. 
						<em>People's Archive of Rural India (PARI)</em>.
					</p>
				</li>
				<li>
					<p>
						Kandalam, K (2023). 
						<a href="https://publications.azimpremjiuniversity.edu.in/5166/1/State_of_Working_India_2023_ebook_revised.pdf" class="text-accent hover:underline" target="_blank">
							"Comparing husband's and wife's perceptions of women's decision-making role"
						</a>. 
						<em>State of Working India (SWI), Social Identities and Labour Market Outcomes</em>, pp.191. Centre for Sustainable Employment (CSE).
					</p>
				</li>
			</ul>
		</section>

		<!-- Works in Progress  -->
		<section class="mb-12">
			<h2 class="title mb-6 text-2xl border-b border-gray-300 pb-2">Works in Progress</h2>
			<ul class="space-y-4 list-disc pl-5">
				<li>
					<p>
						Kandalam, K & Abraham, R. "Who Knows Best? (Dis)agreement on Reported Participation of Women in Intra-Household Decision-Making".
					</p>
				</li>
				<li>
					<p>
						Kandalam, K. "From Charminar to Cyberabad - Political Economy of Software Industry in Erstwhile Unified Andhra Pradesh".
					</p>
				</li>
				<li>
					<p>
						Kandalam, K., Dewan, P., Dey, S., Mukhopadhyay, A., & Sahoo, S. "Filling the gaps? Private sector response to the push and pull of the Indian public schooling system".
					</p>
				</li>
				<li>
					<p>
						Kandalam, K. "Where have all the men gone? Temporary Migration & Rural Public Works - A Discontinuity Approach".
					</p>
				</li>
				
			</ul>
		</section>
	</div>
</PageLayout>