---
import { Icon } from "astro-icon/components";

const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string; 
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/kasturikandalam",
		name: "mdi:github",
	},
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/kasturi-kandalam-3b3885148",
		name: "mdi:linkedin",
	},
	{
		friendlyName: "Twitter",
		link: "https://x.com/th0ughtcascades",
		name: "mdi:twitter",
	},
];
---

<div class="flex flex-wrap items-end gap-x-4 sm:gap-x-8">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-4 sm:flex-initial">
		{socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
			<li class="flex">
				
					class="hover:text-link inline-block"
					href={link}
					rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
					target="_blank"
				>
					<Icon class="h-6 w-6" name={name} />
					<span class="sr-only">{friendlyName}</span>
				</a>
			</li>
		))}
	</ul>
</div>